@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #000;
}

button, input[type="button"] {
    border: none;
    cursor: pointer;
    box-shadow: none;
}

input, textarea {
    background: transparent;
}

html, body {
    width: 100%;
    background: #fafafa;
}

nav {
    position: fixed;
    width: 100%;
    height: 65px;
    background: rgba(255,255,255,0.97);
    box-shadow: 0 3px 8px -9px #000;
    -webkit-box-shadow: 0 3px 8px -9px #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 9999;
}

    .nav__left-container, .nav__right-container {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0 40px;
    }

        .nav__title {
            color: #000;
            font-size: 40px;
            text-transform: uppercase;
            font-weight: 700;
            cursor: pointer;
            padding: 0 20px 0 0;
            margin-right: 10px;
            position: relative;
        }

        .nav__title::after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 80%;
            background: rgba(0,0,0,0.2);
        }

        .nav__link {
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            color: #000;
            padding: 0 10px;
            position: relative;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
      
        .nav__link::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 80%;
            height: 4px;
            background: #6600ee;
            transform: translateY(5px);
            transition: transform 200ms ease;
            border-radius: 8px 8px 0 0;
        }

        .nav__link:hover::after {
            transform: translateY(0);
        }

        .nav__form {
            height: 35px;
            width: 270px;
            position: relative;
            margin-right: 40px;
        }

        .nav__input {
            width: 100%;
            height: 100%;
            padding: 0 45px 0 10px;
            border-radius: 40px;
            border: 1px solid rgba(0,0,0,0.2);
            color: #000;
            font-size: 18px;
            transition: border 200ms ease;
        }

        .nav__input:hover {
            border-color: rgba(0,0,0,0.4);
        }

        .nav__search-btn {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            background: #fff;
            width: 30px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 50;
            border-left: 1px solid rgba(0,0,0,0.2);
        }

        .nav__search-btn svg, .nav__search-btn path {
            width: 20px;
            height: 20px;
            fill: transparent;
            stroke-width: 1px;
            stroke: rgba(0,0,0,0.2);
            transition: stroke 200ms ease;
        }

        .nav__search-btn:hover svg > path {
            stroke: rgba(0,0,0,0.4);
        }

        .nav__btn {
            width: 50px;
            height: 50px;
            background: transparent;
            position: relative;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .nav__btn svg, .nav__btn path {
            width: 30px;
            height: 30px;
            fill: rgba(0,0,0,0.4);
            background: transparent;
            z-index: 50;
            transition: fill 150ms ease;
        }

        .nav__btn:hover svg path {
            fill: rgba(0,0,0,0.6);
        }

        .nav__btn::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.2);
            border-radius: 50%;
            transform-origin: center;
            transform: scale(0);
            transition: transform 150ms ease;
            z-index: 20;
        }

        .nav__btn:focus::after {
            transform: scale(1);
        }
        
        .nav__pfp-container {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 50%;
            margin-left: 30px;
            transition: box-shadow 200ms ease;
        }

        .nav__pfp-container:hover {
            box-shadow: 0 0 0 1px #6600ee;
        }

        .nav__pfp {
            width: 100%;
            height: 100%;
        }

        .nav__login-btn {
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            color: #000;
            margin-right: 20px;
        }

        .nav__login-btn:hover {
            text-decoration: underline;
        }

        .nav__signup-btn {
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
            background: #000;
            padding: 8px 20px;
            border-radius: 40px;
            background: #000;
            position: relative;
            overflow: hidden;
            z-index: 1;
        }

        .nav__signup-btn::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 120px;
            height: 115px;
            background: #6600ee;
            z-index: -1;
            transform: rotate(35deg) translate(-135px, -15px);
            transition: transform 250ms ease;
        }
        
        .nav__signup-btn:hover::after {
            transform: rotate(35deg) translate(-25px, -25px);
        }

@media screen and (max-width: 950px){
    .nav__right-container {
        display: none;
    }
}

.nav__hamburger{
    display: none;
    padding-right: 40px;
    z-index: -1;
}

.nav__ham-toggle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    z-index: 120;
}

.nav-links-container {
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: calc(100vh - 65px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: rgb(255, 255, 255);
    transform: translateX(100vw);
    transition: transform 0.5s ease;
    z-index: 50;
}
.nav-link {
    font-size: 24px;
    color: #121212;
    margin: 10px 0;
    padding: 16px;
    position: relative;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-linkmy {
    font-size: 24px;
    color: #121212;
    margin: 10px 0;
    padding: 16px;
    position: relative;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    color: #888;
    cursor: default;
}

.nav-link::after {
    content: '';
    position: absolute;
    transform: scale(0,1);
    width: 100%;
    height: 5px;
    background: #6200ee;
    transition: transform 200ms ease;
    top: 50px;
    left: 0;
    border-radius: 12px;
}
.nav-link__acount{
    font-size: 18px;
    color: #121212;
    margin: 10px 0;
    padding: 16px;
    position: relative;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.nav-link__acount::after {
    content: '';
    position: absolute;
    transform: scale(0,1);
    width: 80%;
    height: 3px;
    background: #6200ee;
    transition: transform 200ms ease;
    top: 40px;
    border-radius: 12px;
}

.nav-link__acount:hover::after{
    transform: scale(1);
}
.line{
    background: #000;
    cursor: pointer;
    z-index: 110;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 3px;
    margin: 5px 0;
    transition: opacity 200ms ease, transform 200ms ease;
}

@media screen and (max-width: 950px){
    .nav__hamburger{
        display: flex;
    }
    .nav__link{
        display: none;
    }
}
.nav-link:hover::after {
    transform: scale(1,1);
}

#nav-toggle:checked ~ .nav-links-container {
    transform: translateX(0);
}

#nav-toggle:checked ~ .nav-toggle-label .nav-toggle-label-span-1 {
    transform: translateY(15px) rotate(-45deg)
}

#nav-toggle:checked ~ .nav-toggle-label .nav-toggle-label-span-2 {
    opacity: 0;
}

#nav-toggle:checked ~ .line line .line .line3 {
    transform: translateY(-15px) rotate(45deg);
}

.notifications {
    position: fixed;
    top: 70px;
    right: 130px;
    width: 350px;
    max-height: 350px;
    background: #fff;
    box-shadow: 0 1px 10px -5px #000;
    -webkit-box-shadow: 0 1px 10px -5px #000;
    border-radius: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    transform: translateX(550px);
    z-index: 9999;
    padding: 10px 0;
    overflow-y: scroll;
}

    .notification {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        margin: 10px 0;
        font-size: 16px;
    }

        .notification__username {
            max-width: 155px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 3px;
        }

    .notification:hover {
        background: rgba(0,0,0,.1);
    }

    .notification:focus {
        background: rgba(0,0,0,.2);
    }

.user-nav {
    position: fixed;
    top: 70px;
    right: 35px;
    width: 250px;
    background: #fff;
    box-shadow: 0 1px 10px -5px #000;
    -webkit-box-shadow: 0 1px 10px -5px #000;
    border-radius: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    transform: translateX(400px);
    z-index: 9999;
}

    .user-nav__info {
        width: 100%;
        height: 100px;
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }

        .user-nav__username {
            font-size: 18px;
            font-weight: 700;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .user-nav__email {
            font-size: 16px;
            font-weight: 500;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    .user-nav__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }

        .user-nav__link {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;
            height: 50px;
            padding: 0 20px;
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            color: #000;
        }

        .user-nav__link svg, .user-nav__link path {
            width: 30px;
            height: 30px;
            margin-right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            fill: rgba(0,0,0,0.4);
            background: transparent;
        }

        .user-nav__link:hover {
            background: rgba(0,0,0,.1);
        }

        .user-nav__link:focus {
            background: rgba(0,0,0,.2);
        }

        .user-nav__link--active svg, .user-nav__link--active path {
            fill: #6600ee;
        }

.postmodal {
    position: fixed;
    top: 65px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 65px);
    background: rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8888;
}

    .postmodal__form {
        width: 90vw;
        height: 90vh;
        max-width: 600px;
        max-height: 500px;
        background: #fafafa;
        box-shadow: 0 3px 20px -10px #000;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

        .postmodal__close {
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 30px;
            color: rgba(0,0,0,.45);
            cursor: pointer;
            transition: color 200ms ease;
        }

        .postmodal__close:hover {
            color: #ff0000;
        }

        .postmodal__title {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 40px;
            position: relative;
        }

        .postmodal__title::after {
            position: absolute;
            bottom: 0;
            width: 80%;
            height: 2px;
            background: rgba(0,0,0,.4);
        }

        .postmodal__input-container {
            width: 90%;
            max-width: 500px;
            height: 200px;
            position: relative;
            margin-bottom: 20px;
        }

        .postmodal__textarea {
            width: 100%;
            height: 100%;
            font-size: 18px;
            border: none;
            resize: none;
            border-bottom: 1px solid rgba(0,0,0,.4);
        }

        .input-underline {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 2px;
            background: #6600ee;
            transform: scale(0,1);
            transition: transform 200ms ease;
        }

        .postmodal__textarea:focus {
            outline: none;
        }

        .postmodal__textarea:focus ~ .input-underline {
            transform: scale(1);
        }

        @media screen and (max-width: 650px) {
            .postmodal__title {
                font-size: 18px;
            }

            .postmodal__textarea {
                font-size: 16px;
            }
        }

        .postmodal__footer {
            width: 80%;
            max-width: 400px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
        }

        .postmodal__label {
            font-size: 18px;
            font-weight: 500;
            padding: 10px 20px;
            background: #fff;
            border: 1px dashed rgba(0,0,0,.2);
            cursor: pointer;
            transition: border 200ms ease;
        }

        .postmodal__label:hover {
            border-color: #6600ee;
        }

        .postmodal__btn {
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            padding: 10px 54px;
            border-radius: 40px;
            background: #000;
            position: relative;
            overflow: hidden;
            z-index: 1;
        }

        .postmodal__btn::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 250px;
            height: 140px;
            background: #6600ee;
            z-index: -1;
            transform: rotate(25deg) translate(-265px, -32px);
            transition: transform 250ms ease;
        }

        .postmodal__btn:hover::after {
            transform: rotate(25deg) translate(-24px, -32px);
        }

.button { 
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
    padding: 10px 54px;
	border-radius: 40px;
	background: #000;
	position: relative;
	overflow: hidden;
    z-index: 1;
}

.button::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	height: 140px;
	background: #6600ee;
	z-index: -1;
	transform: rotate(25deg) translate(-265px, -32px);
	transition: transform 250ms ease;
}

.button:hover::after {
	transform: rotate(25deg) translate(-24px, -32px);
}

.post {
    max-width: 400px;
    width: 90vw;
    height: 300px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 8px -6px #000;
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    margin: 0 20px 20px 0px;
    position: relative;
}

.post__body {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.post__pfp-container {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 10px;
}

.post__pfp {
    width: auto;
    height: 100%;
}

.post__user-container {
    max-width: 345px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-top: 10px;
}

.post__name {
    font-size: 18px;
    font-weight: 500;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post__username {
    font-size: 16px;
    font-weight: 500;
    color: #888;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post__username a {
    color: #888;
}

.post__like-btn {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,.3);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post__like-btn svg {
    fill: #000;
}

.post__like-btn--liked svg {
    fill: #6600ee;
}

.post__date {
    top: 5px;
    right: 5px;
    color: #888;
    height: auto;
}

@media screen and (max-width: 980px) {
    .post {
        margin: 0 0 20px 0;
    }
}

.post__content {
    font-size: 16px;
    height: 100%;
    padding: 0 10px 10px;
    word-wrap: break-word;
}

.post__img-container {
    width: 100%;
    height: 300px;
    max-height: 160px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 12px 12px;
    background: #f3f3f3;
}

.post__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

footer {
    background: #f3f3f3;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    margin-top: 120px;
}

.footer__title{
    font-size: 18px;
    color: #000;
}