@import 'default.css';

.postform {
    background: transparent;
    box-shadow: none;
    margin: 0 auto;
    height: 500px;
    padding-top: 100px;
}

.wrapper-post {
    width: 80vw;
    max-width: 1680px;
    margin: 0 auto;
    padding: 100px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}