@import 'default.css';


.img__input{
    display: flex;
    flex-direction: row;
}
.wrapper-form, .wrapper-post{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
}
.postmodal__footer {
    width: 80%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

/*
----------------------------
     NEW STYLINGS
------------------------------
*/

.wrapper-post {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}