@import 'default.css';
/* Als je de volgorde veranderd dan kom ik je halen. ~Robbe */
.header {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: #fafafa;
    -webkit-box-shadow: 0 3px 10px -8px black;
    -moz-box-shadow: 0 3px 10px -8px black;
    box-shadow: 0 3px 10px -8px black;
}

.header__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header__pfp-container {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:60px;
}

.header__pfp {
    height: 100%;
    width: 100%;
}

.header__info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.header__name {
    font-size: 26px;
}

.header__username {
    font-size: 18px;
    font-weight: 500;
    color: #888;
    padding-bottom: 10px;
}

.header__bio {
    width: 400px;
    height: 150px;
    font-size: 16px;
    word-wrap: break-word;
}

.header__links-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.header__link {
    color: #787878;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    margin: 0px 80px;
    padding: 20px;
    transition: color 200ms ease;
}

.header__link::after {
    background: #6600ee;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    transform: translateY(5px);
    transition: transform 200ms ease;
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.header__link:hover::after {
    transform: translateY(0);
}

.header__link--active {
    color: #000;
}

.header__link--active::after {
    transform: translateY(0);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

@media screen and (max-width: 950px){
    .header {
        height: auto;
        padding-top: 100px;
    }
    .header__body {
        justify-content: center;
    }
    .header__pfp-container{
        margin: 0;
    }
    .header__info {
        width: 90vw;
        align-items: center;
        margin-top: 40px;
    }
    .header__link{
        margin: 0 20px;
    }
}
