@import 'default.css';

.header {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

#container img{
    width: 250px;
    border-radius: 50%;
}

#container{
background-color: #fafafa;
-webkit-box-shadow: 0 3px 10px -8px black;
	   -moz-box-shadow: 0 3px 10px -8px black;
	        box-shadow: 0 3px 10px -8px black;
}

#header__links-container{
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    box-shadow:  0 0 10px -8px #000;
    width: 100%;
    padding-top: 40px;
}
#header__links-container a:hover{
    color: #6b6b6b;
}
.header__link{
    color: black;
    font-weight: 600;
}

#ahref{
margin: 0px 160px;
}

#container__info{
    padding-top: 5%;
    float: right;
    margin-right: 33%;
}
.user-nav__username{
    margin-bottom: 20px;
}

.user-nav__name{
    font-weight: 500;
}
.header__body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#header__info{
padding-top: 100px;
padding-left: 20px;
}