#div__container__tekst {
    font-size: 22px;
    padding-top: 30px;
}

#body__container__logo {
    width: 14%;
}

#container {
    text-align: center;
}

input[type=text] {
    border: none;
    font-size: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.200);
    padding: 10px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    color: #000;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.button {
    background-color: #6600EE;
    border-radius: 12px;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 20px 90px;
    font-size: 24px;
  }

  #div__container__registration{
      padding-top: 30px;
  }

a{
    color: #6600EE; 
}