@import 'default.css';

#div__container__tekst {
    font-size: 22px;
    padding-top: 30px;
}

#body__container__logo {
    width: 14%;
}

#container {
    text-align: center;
    padding-top: 60px;
}

input {
    border: none;
    font-size: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.200);
    padding: 10px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    color: #000;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.button { 
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
    padding: 19px 58px;
	border-radius: 40px;
	background: #000;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

button::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	height: 140px;
	background: #6600ee;
	z-index: -1;
	transform: rotate(25deg) translate(-265px, -32px);
	transition: transform 250ms ease;
}

button:hover::after {
	transform: rotate(25deg) translate(-24px, -32px);
}

  #div__container__registration{
      padding-top: 30px;
      color: rgb(122, 122, 122);
  }

  #div__container__registration a{
    color: #6600EE; 
    font-size: 18px;
}

h4{
    padding-top: 20px;
}

.container__brand{
    color: #000;
    font-size: 40px;
    font-weight: 700;
}

h2{
    font-weight: 500;
}

span{
    color: rgb(255, 0, 0);
    
}